.agz-datagrid {
  width: 100%;
  background: #fff;
  font-size: 14px; }
  .agz-datagrid__item-first {
    width: 63px;
    min-width: 63px;
    padding: 0 24px 0 24px; }
  .agz-datagrid__item-sort {
    margin-left: 5px;
    font-weight: normal;
    font-size: 20px; }
    .agz-datagrid__item-sort--up:before {
      content: '\e739'; }
    .agz-datagrid__item-sort--down:before {
      content: '\e736'; }
  .agz-datagrid__input-checkbox {
    color: #4162ff;
    font-weight: normal;
    font-size: 20px; }
    .agz-datagrid__input-checkbox:before {
      content: '\e60a'; }
    .agz-datagrid__input-checkbox--checked:before {
      content: '\e609'; }
  .agz-datagrid__tools {
    padding-right: 24px;
    padding-left: 10px;
    text-align: right; }
    .agz-datagrid__tools-remove {
      color: #ff6e72;
      display: none; }
      .agz-datagrid__tools-remove:before {
        content: '\e68a'; }
      .agz-datagrid__tools-remove:hover {
        opacity: 0.5; }
    .agz-datagrid__tools-setting {
      opacity: 0.3; }
      .agz-datagrid__tools-setting:before {
        content: '\ea84'; }
      .agz-datagrid__tools-setting:hover {
        opacity: 0.2; }
  .agz-datagrid__header {
    border-bottom: 2px solid #f2f2f2;
    color: #757575;
    height: 46px;
    line-height: 46px;
    cursor: pointer; }
    .agz-datagrid__header > th:first-child > .agz-datagrid__header-item {
      border-right: none; }
    .agz-datagrid__header-item {
      font-family: "Microsoft YaHei UI Light";
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-left: solid 1px #ebeff2;
      min-width: 100px;
      height: 26px;
      line-height: 26px;
      padding-right: 47px;
      padding-left: 10px; }
      .agz-datagrid__header-item--border-none {
        border: none; }
      .agz-datagrid__header-item-right {
        text-align: right; }
      .agz-datagrid__header-item-left {
        text-align: left; }
  .agz-datagrid__body {
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    height: 46px;
    line-height: 46px; }
    .agz-datagrid__body-item {
      font-family: "Microsoft YaHei UI Light";
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 47px;
      padding-left: 10px;
      min-width: 100px; }
      .agz-datagrid__body-item-right {
        text-align: right;
        color: #3e3e3e; }
      .agz-datagrid__body-item-left {
        text-align: left;
        color: #495d8a;
        font-weight: bold; }
    .agz-datagrid__body:hover {
      background: rgba(65, 98, 255, 0.05); }
      .agz-datagrid__body:hover .agz-datagrid__tools-remove {
        display: block; }
    .agz-datagrid__body__setting {
      padding-right: 24px; }
  .agz-datagrid__count {
    font-family: "Microsoft YaHei UI Light";
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    height: 46px;
    line-height: 46px;
    background: #f6f9fb; }
    .agz-datagrid__count__title {
      margin-right: 0px;
      font-weight: bold;
      text-align: right; }
  .agz-datagrid-menu {
    font-family: "Microsoft YaHei UI Light";
    position: absolute;
    width: 200px;
    right: 0;
    top: 40px; }
    .agz-datagrid-menu-up {
      border-style: solid;
      position: relative;
      margin: 0px 158px -11px;
      border-top: 2px;
      border-right: 2px;
      width: 20px;
      height: 20px;
      transform: rotate(135deg);
      border-color: rgba(0, 0, 0, 0.1);
      background: #fff; }
    .agz-datagrid-menu-content {
      width: 100%;
      height: 100%;
      border: solid 3px rgba(0, 0, 0, 0.1);
      background: #fff;
      border-radius: 5px;
      padding: 10px 0; }
      .agz-datagrid-menu-content-item {
        height: 28px;
        width: 100%;
        padding: 0 15px;
        line-height: 28px;
        font-size: 14px; }
        .agz-datagrid-menu-content-item:hover {
          background: rgba(65, 98, 255, 0.05); }
        .agz-datagrid-menu-content-item-text {
          width: 135px;
          text-align: left;
          float: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #1e455f; }
        .agz-datagrid-menu-content-item-icon {
          text-align: right;
          float: right;
          width: 25px;
          font-size: 25px;
          cursor: pointer;
          color: #efefef; }
          .agz-datagrid-menu-content-item-icon:before {
            content: '\e601'; }
          .agz-datagrid-menu-content-item-icon--selected {
            color: #4162ff; }
  .agz-datagrid-container {
    position: relative;
    width: 100%;
    border: solid 1px #f2f2f2;
    border-radius: 4px;
    width: 100%;
    overflow: auto; }
